<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Resell</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    
</head>
<body style="background-image:url('./static/img/mainbg.png');
background-position: center;
background-repeat: no-repeat;
background-size: cover;margin:0">
  <!-- secondary navbar-->
  <nav class="navbar " >
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#" style="color:black;font-weight:800">Resellr.</a></li>
        <li class="active"><a href="#" style="color:black;font-weight:800">Home</a></li>
        <li class="dropdown"><a href="#" style="color:black">Books</a>
          <li class="dropdown"><a href="#" style="color:black">Cycles</a>
            <li class="dropdown"><a href="#" style="color:black">Stationery</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li ><a href="#" style="color:black"><span class="glyphicon glyphicon-user" style="color:black"></span> Register</a></li>
        <li><a href="#" style="color:black"><span class="glyphicon glyphicon-log-in" style="color:black"></span> Login</a></li>
      </ul>
    </div>
  </nav>
<!--end of navbar--> 

<!-- Index-->
 <!--landing page-->
<div style="height:90vh;padding-top:30px" class="d-flex flex-row-reverse" >
  <div class="row" style="height:100vh;font-family: 'Poppins', sans-serif; ">
    <div></div>
      <div class="col-sm-11 col-md-11 col-lg-11 align-items-center " style="text-align: center;justify-content:center;margin:auto,">
          <div class="row p-2 " >
            <b><h1 style="color:black;font-size:70px;text-align:center;">College essentials at affordable prices</h1></b>
              <button class="btn1" ><a href="{{ url_for('products') }}"></a>Start Shopping</button>
          </div>
      </div>
      
   </div>
  <!--End of Landing page-->
</div>
</body>
</html>






